# systemd config
# /usr/lib/systemd/system/go-pass.service
[Unit]
Description=Cron Admin

[Service]
WorkingDirectory=/opt/go-pass
ExecStart=/opt/go-pass/go-pass
Restart=always

[Install]
WantedBy=multi-user.target
